body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to bottom, #ffffff, #250436);
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.centertext {
    margin-left: auto;
    margin-right: auto;
    display:grid; 
    place-items:center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

coolfont {
    text-align: center;
    color: #4E2B86; 
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}


/* From Uiverse.io by barisdogansutcu */ 
button {
  margin-top: 290px;
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  overflow: hidden;

}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;  
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
